body {
     background-color: navajowhite;
     font-size: 40px; 
     color: rgb(202, 102, 21);
     letter-spacing: -5px;
  font-family:'Segoe UI', Geneva; 
     line-height: 1;
     word-spacing: 0.25em; 
}

.second{
   color:brown;
   letter-spacing: 5px;
}


   



